body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2;
  color: #333;   
  padding: 25; 
  background-color: #fcfcfc ;
  width: 75%;
  margin: auto;
}

.container{
  margin-bottom: 10%;
}

h1 {
  text-align: center;
  padding: 25px;  
  background-color: #04AA6D;
  color: white;
  border-radius: 5px;
}

h4 {
  margin-bottom: 5px;
}

.search, .import{
  text-align: center;
}

.button-search, .import-button{
  background-color: #04AA6D; 
  border: none;
  border-radius: 3px;
  color: white;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: medium;
}

.search-input, .file{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: medium;
}

.button-left{
  position: absolute;
  left: 15%;
  margin-top: 25px;
  background-color: #04AA6D; 
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-right{
  position: absolute;
  right: 15%;
  margin-top: 25px;
  background-color: #04AA6D; 
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.data-patient{
  max-width: 90%;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.data-doctor{
  max-width: 90%;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.ul{
  padding-left: 0;
}

.message {
  font-size: medium;
  font-weight: bold;
  color: red;
  text-align: center;
  width: 100% ;
  margin-bottom: 10px;
}

.item-exam {
  border: 1px solid #ccc;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  background-color: #f9f9f9;
  border-radius: 5px;
  list-style-type: none;
}

.error-message {
  font-size: medium;
  font-weight: bold;
  color: red;
  text-align: center;
  width: 100%;
  list-style: none;
}